/* Generals */
.text-capitalize {
    text-transform: capitalize;
}

.btn-gradient-blue{
    background: transparent linear-gradient(248deg, #1B92C8 0%, #2C3636 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #fff;
    text-transform: capitalize;
}

.btn-gradient-blue:hover {
    background: #fff;
    border: 1px solid #185F7F;
    opacity: 1;
    color: #185F7F;
    text-transform: capitalize;
}

.btn-border-blue {
    border: 1px solid #185F7F;
    opacity: 1;
    color: #185F7F;
    text-transform: capitalize;
}

.btn-border-blue:hover {
    background: transparent linear-gradient(248deg, #1B92C8 0%, #2C3636 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #fff;
    text-transform: capitalize;
}

/* imgs */
.img-md {
    max-width: 400px;
}

/* Slider Cards */
body {
    perspective: 1000px;
}
  
ul {
    padding: 0;
    list-style: none;
}
  
li {
    margin: 0;
    float: left;
    padding: 50px 0;
}
  
.card {
    margin-left: 0.75em;
    margin-right: 0.75em;
    border-radius: 0px !important;
    padding: 1em !important;
    box-shadow: 0px 10px 30px #99999933 !important;
    border:  none !important;
    height: 350px !important;
}

.card-title {
      font-size: 18px !important;
}

.card-text {
      font-size: 13px !important;
}

.card img {
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    height: 130px;
    width: 130px;
}
  
.owl-wrapper {
    transform-style: preserve-3d;
}
  
.owl-item {
    transition: all 250ms ease-out;
    transform: translate3d(0px, 0px, 0px) scale(1);
}
.owl-item.active {
    transform: translate3d(0px, 0px, 0px) scale(0.8) !important;
    filter: blur(4px);
}
.owl-item.active + .active {
    transform: translate3d(0px, 0px, 0px) scale(1) !important;
    filter: blur(0px);
}
.owl-item.active + .active + .active {
    transform: translate3d(0px, 0px, 0px) scale(1) !important;
    filter: blur(0px);
}
.owl-item.active + .active + .active + .active {
    transform: translate3d(0px, 0px, 0px) scale(1) !important;
    filter: blur(0px);
}
.owl-item.active + .active + .active + .active + .active {
    transform: translate3d(0px, 0px, 0px) scale(0.8) !important;
    filter: blur(4px);
}

.owl-theme .owl-controls .owl-buttons div{
    padding: 6px 11px !important;
    font-size: 16px !important;
    color: #000 !important;
    background: #fff !important;
}
